app-visualization {
  height: 400px;
}

mat-card {
  cursor: pointer;
  margin-bottom: 5px;
}

div mat-icon {
  color: #3f51b5;
}

.vis-title {
  font-size: 18px;
  color: #3f51b5;
  font-weight: bold;
  margin: 20px;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}

.delete mat-icon {
  margin-top: 10px;
  margin-right: 10px;
  color: gray;
  font-size: 20px;
}

mat-slide-toggle ::ng-deep span {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

app-preview-visualization {
  cursor: pointer;
}

.previews {
  background-color: #3f51b514;
  padding: 10px;
}