<ng-container *ngIf="article$ | async as article">
  <ng-container *ngIf="revisions$ | async as revisions">
    <div class="main" fxLayout="row wrap" fxLayoutAlign="start center">
      <app-visualization
        chartTitle="Ultimas 20 ediciones"
        chartYTitle="Tamaño (bytes)"
        chartType="line" [chartX]="timestamps(revisions)" [chartY]="sizes(revisions)" 
        fxFlex="60" fxFlex.xs="100" fxLayout="column">
      </app-visualization>
      <div class="detail-info" fxFlex="40" fxFlex.xs="100" fxLayout="column">
        <ng-container *ngIf="count$ | async as count">
          <span><strong>Numero de ediciones:</strong> {{count}}</span>
          <span *ngIf="countMinor$ | async as countMinor">
            <strong>Numero de ediciones menores:</strong> {{countMinor}} ({{((countMinor/count) * 100).toFixed(2)}}%)
          </span>
        </ng-container>
        <span><strong>Fecha de última edición:</strong> {{lastTimestamp(revisions[0])}}</span>
        <span *ngIf="countDistinctUser$ | async as countDistinctUser"><strong>Número de editores:</strong> {{countDistinctUser}}</span>        
        <span><strong>Usuario de última edición:</strong> {{lastAuthor(revisions[0])}}</span>
        <span><strong>Tamaño de artículo:</strong> {{size(revisions[0])}} (bytes)</span>
        <a href="{{getLink(article)}}" target="_blank">Ir al artículo en Wikipedia</a>
      </div>
    </div>
    <div class="previews" fxLayout="row wrap" fxLayoutAlign="start center">
      <app-preview-visualization
        (click)="goToEdit(vis.title)"
        fxFlex.xs="100"
        fxFlex.sm="50"
        fxFlex.gt-sm="33"
        *ngFor="let vis of filterByPreview(article.visualizations)"
        [data]="{ article: article, visualization: vis }">
      </app-preview-visualization>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div class="my-vis" fxFlex="100" fxFlex.gt-sm="48">
        <div class="vis-title"> Mis Visualizaciones</div>
        <mat-card (click)="goToEdit(vis.title)" *ngFor="let vis of article.visualizations">
          <div class="delete" (click)="delete(article, vis); $event.stopPropagation()"><mat-icon>delete</mat-icon></div>
          <mat-card-header>
              <div mat-card-avatar><mat-icon>insert_chart</mat-icon></div>
              <mat-card-title>{{vis.title}}</mat-card-title>
              <mat-card-subtitle>{{vis.description? vis.description : 'Sin descripción'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-slide-toggle color="primary" [checked]="vis.preview" (change)="showPreview(article, vis, $event)" (click)="$event.stopPropagation()">Preview</mat-slide-toggle>
        </mat-card>
      </div>
      <div class="special-vis" fxFlex="100" fxFlex.gt-sm="48">
        <div class="vis-title">Visualizaciones Predeterminadas</div>
        <!-- History Flow -->
        <mat-card (click)="goToHistoryFlow()">
          <mat-card-header>
              <div mat-card-avatar><mat-icon>star</mat-icon></div>
              <mat-card-title>Wiki History Flow</mat-card-title>
              <mat-card-subtitle>Descubre la diferencia, tamaño y usuario de cada edición</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card *ngFor="let vis of defaultVisualizations" (click)="goToDefaultVisualization(vis.title)">
          <mat-card-header>
              <div mat-card-avatar><mat-icon>star</mat-icon></div>
              <mat-card-title>{{vis.title}}</mat-card-title>
              <mat-card-subtitle>{{vis.description}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
      </div>
    </div>
  </ng-container>
</ng-container>
<app-loading *ngIf="!(loading$ | async)"></app-loading>