app-visualization {
  height: 400px;
}

div.number {
  text-align: center;
  font-size: 50px;
  /* semi-bold */
  font-weight: 500;
}

.type-vis {
  margin-top: 15px;
  margin-left: 10px;
}

.empty {
  text-align: center;
  font-weight: bold;
  color: gray;
}