:host {
  display: block;
  height: 64px;
}

a {
  color: #ffffffde;
  font-size: 23px;
  text-decoration: none;
}

a.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  color: black;
  margin-right: 50px;
}

button.session {
  margin-right: 0;
}

button.mobile {
  margin-right: 10px;
  font-size: 12px;
  line-height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
}

button.mobile ::ng-deep span {
  white-space: normal;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.user {
  color: white;
}

.user.arrow {
  margin-left: -5px;
}