:host {
  display: block;
  height: 64px;
}

a {
  color: #ffffffde;
  font-size: 23px;
  text-decoration: none;
}

button {
  color: black;
  margin-right: 50px;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.user {
  color: white;
}

.user.arrow {
  margin-left: -5px;
}