app-visualization {
  height: 400px;
}

.separator {
  width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px; 
  background-color: gray;
}

mat-card {
  cursor: pointer;
  margin-bottom: 5px;
}

div mat-icon {
  color: #3f51b5;
}

.vis-title {
  font-size: 18px;
  color: #3f51b5;
  font-weight: bold;
  margin: 20px;
}

