<ng-container *ngIf="article$ | async as article">
  <div *ngIf="revisions$ | async as revisions" class="main" fxLayout="row" fxLayoutAlign="start center">
    <app-visualization
      chartTitle="Ultimas 20 ediciones"
      chartYTitle="Tamaño (bytes)"
      chartType="line" [chartX]="timestamps(revisions)" [chartY]="sizes(revisions)" 
      fxFlex="60" fxLayout="column">
    </app-visualization>
    <div class="detail-info" fxFlex="40" fxLayout="column">
      <span *ngIf="count$ | async as count"><strong>Numero de ediciones:</strong> {{count}}</span>
      <span><strong>Fecha de última edición:</strong> {{lastTimestamp(revisions[0])}}</span>
      <span><strong>Usuario de última edición:</strong> {{lastAuthor(revisions[0])}}</span>
      <span><strong>Tamaño de artículo:</strong> {{size(revisions[0])}} (bytes)</span>
      <a href="{{getLink(article)}}" target="_blank">Ir al artículo en Wikipedia</a>
    </div>
  </div>
  <div class="separator"></div>
  <div fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div class="my-vis" fxFlex="100" fxFlex.gt-sm="48">
      <div class="vis-title"> Mis Visualizaciones</div>
      <mat-card (click)="goToEdit(vis.title)" *ngFor="let vis of article.visualizations">
        <mat-card-header>
            <div mat-card-avatar><mat-icon>insert_chart</mat-icon></div>
            <mat-card-title>{{vis.title}}</mat-card-title>
            <mat-card-subtitle>{{vis.description? vis.description : 'Sin descripción'}}</mat-card-subtitle>
          </mat-card-header>
      </mat-card>
    </div>
    <div class="special-vis" fxFlex="100" fxFlex.gt-sm="48">
      <div class="vis-title">Visualizaciones Especiales</div>      
    </div>
  </div>
</ng-container>
<app-loading *ngIf="!(loading$ | async)"></app-loading>