<div fxLayout="row wrap" fxLayoutGap="10px">
  <div>Artículos</div>
  <input #searchBox placeholder="Buscar" (keyup)="search(searchBox.value.toLowerCase().trim())" type="search">
</div>
<div class="container" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20px" fxLayoutGap.xs="0">
  <mat-card
    *ngFor="let article of articles"
    fxFlex="30" fxFlex.sm="50" fxFlex.xs="100"
    (click)="gotoDetail(article.title)">{{article.title}}
  </mat-card>
  <mat-card  class="new-article" fxFlex="30" fxFlex.sm="50" fxFlex.xs="100">Agregar Nuevo</mat-card>
</div>