.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid gray;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  margin: 20px !important;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

div.number {
  text-align: center;
  font-size: 50px;
  /* semi-bold */
  font-weight: 500;
}

app-visualization {
  width: 100%;
  margin-bottom: 10px !important;
}

mat-card {
  padding: 0;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
}
