<mat-card fxLayout="column" fxLayoutAlign="center center">
  <span class="title">{{ data.visualization.title }}</span>
  <ng-container *ngIf="queryResponse$ | async as queryResponse">

    <!-- display charts -->
    <app-visualization
      *ngIf="!isNumber"
      [chartType]="data.visualization.type"
      [chartY]="queryResponse.y_values"
      [chartX]="queryResponse.x_values"
      [chartXTitle]="queryResponse.x_label"
      [chartYTitle]="queryResponse.y_label"
      >
    </app-visualization>
    <!-- display number -->
    <div *ngIf="isNumber" fxFlex="100" class="number">{{queryResponse.y_values[0]}}</div>
  </ng-container>

  <!-- Invalid state -->
  <div *ngIf="!validQuery">Visualización inválida</div>
  <!-- Loading -->
  <div *ngIf="validQuery && loading" class="spinner"></div>
</mat-card>