.mat-card-title {
  font-size: 16px;
}

mat-card {
  height: 102px;
}

mat-icon {
  font-size: 18px;
  color: green;
}

.spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid gray;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pending {
  background: #fbd102;
  cursor: wait;
}

.ready {
  background: #dee4d6;
  cursor: pointer;
}

.failure {
  background: #ff7171;
}

.status {
  font-size: 12px;
  color: gray;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}

.delete mat-icon {
  margin-top: 10px;
  margin-right: 10px;
  color: gray;
  font-size: 24px;
}